@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange-custom: #e55d47;
  --blue-theme: #152336;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: rgba(12, 10, 29, 0.96);
  color: white;
}

main {
  min-height: 75vh;
}

.text-shadow-title {
  text-shadow:
    0 0 80px rgb(192 219 255 / 48%),
    0 0 32px rgb(65 120 255 / 24%);
}

.text-gradient-title,
.hover-text-gradient-title:hover {
  background: linear-gradient(to left bottom, rgb(70, 118, 206), rgb(59, 130, 246), rgb(147, 51, 234));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
